In [2]:
# importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Importing data
data = pd.read_csv("C:/Users/Abhi/Desktop/CSV files/bmi.csv")

In [6]:
# 1) Initialising variable
X = data.drop(['Index'], axis=1)
y = data['Index'].values.reshape(-1,1)

In [27]:
# Applying label encoding in Gender column(label)
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data['Gender'] = le.fit_transform(data['Gender'])
data

     Gender  Height  Weight  Index
0         1     174      96      4
1         1     189      87      2
2         0     185     110      4
3         0     195     104      3
4         1     149      61      3
..      ...     ...     ...    ...
495       0     150     153      5
496       0     184     121      4
497       0     141     136      5
498       1     150      95      5
499       1     173     131      5

[500 rows x 4 columns]

In [14]:
Xnew = data.drop(['Index'], axis=1)
y = data['Index'].values.reshape(-1,1)

In [22]:
# 2) Splitting data into training and testing dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(Xnew,y, test_size = 0.2, random_state=42)

In [23]:
# 3) Fitting Linear regression to our training set
from sklearn.linear_model import LinearRegression
multiple_reg = LinearRegression()
multiple_reg.fit(X_train, y_train)

LinearRegression()

In [24]:
# 4) Testing 
y_pred = multiple_reg.predict(X_test)

In [25]:
# 5) Accuracy
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.7962929261018075

In [50]:
# 6) Prediction for new values

# Taking new input from user

gender = float(input("Gender ( Enter 1 for mlae and 0 for female) :"))
height = float(input("Ebter Height:"))
weight = float(input("Enter weight :"))

# Predicting the sales with respect to input
output = multiple_reg.predict([[gender,height,weight]])
output_rounded = np.round(output)
print(output)
print("Your BMI is ",(output_rounded))

Gender ( Enter 1 for mlae and 0 for female) :0
Ebter Height:153
Enter weight :107
[[4.36083664]]
Your BMI is  [[4.]]